@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");

//Set Brand Colors
$red: #e32018;

//Customize Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$primary: $red;

// Customize some of Bulma's component variables
$control-border-width: 2px;
// $input-border-color: transparent;
$input-shadow: none;

@import "~bulma";
